.c-petsTab{
    box-shadow: none;
    &__app{
        box-shadow: none;
    }

    &__tab{
        background-color: white;
        color: black;
        
    }

    &__itemTab{
        color: black;
        content: 'Datos';
    }
    
}

.MuiTab-wrapper{
    color: black;
    content: 'Datos';
}

