.c-petsTab{
   
    &__app{
        
    }

    &__tab{
        background-color: white;
        color: black;
        
    }

    &__item{
        color: blue;
    }

    .MuiPaper-elevation4 {
        box-shadow: none;
    }

    
}





