@import '../../styles/tools/variable.tools';


.c-input-img {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &__input {
        display: none;
    }

    &__label {
        color: $color-ocean;
        font-size: 12px;
        text-align: center;
        width: 67px;
        height: 73px;
        border: 2px $color-cloudy-blue solid;
        border-radius: 8px;
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1em; 
        // display: block;
        // position: relative;
        margin: 10px;
        cursor: pointer;
    }
    
    & svg{
        max-width: 2rem;
        max-height: 2rem;
    }
    :checked + &__label {
        border: 2px $color-pink solid;
        color:  $color-pink;
        &__img svg path {
            fill:  $color-pink;
        }
    }
    :checked + svg {
        fill: $color-pink;
        
    }
    // rect, clipPath, path {
    //     fill:red;
    // }
}