@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?auuxgm');
  src:  url('fonts/icomoon.eot?auuxgm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?auuxgm') format('truetype'),
    url('fonts/icomoon.woff?auuxgm') format('woff'),
    url('fonts/icomoon.svg?auuxgm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hedgehog:before {
  content: "\e900";
}
.icon-ferret:before {
  content: "\e901";
}
.icon-rabbit:before {
  content: "\e902";
}
.icon-stethoscope:before {
  content: "\e903";
}
.icon-hairdryer:before {
  content: "\e904";
}
.icon-pet-care:before {
  content: "\e905";
}
.icon-mortarboard:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-shop:before {
  content: "\e908";
}
.icon-mouse:before {
  content: "\e909";
}
.icon-stethoscope1:before {
  content: "\e90a";
}
.icon-snake:before {
  content: "\e90b";
}
.icon-tick:before {
  content: "\e90c";
}
.icon-nut:before {
  content: "\e90d";
}
.icon-nut-1:before {
  content: "\e90e";
}
.icon-cancel-1:before {
  content: "\e90f";
}
.icon-femenine-1:before {
  content: "\e910";
}
.icon-hairstyle:before {
  content: "\e911";
}
.icon-male:before {
  content: "\e912";
}
.icon-masculine:before {
  content: "\e913";
}
.icon-happy:before {
  content: "\e914";
}
.icon-paw-print:before {
  content: "\e91a";
}
.icon-frog:before {
  content: "\e915";
}
.icon-tropical-fish:before {
  content: "\e916";
}
.icon-parrot:before {
  content: "\e917";
}
.icon-dog:before {
  content: "\e918";
}
.icon-spider:before {
  content: "\e919";
}
