$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-frog: "\e903";
$icon-cobra: "\e904";
$icon-cauldron: "\e900";
$icon-snake: "\e901";
$icon-hoja: "\e902";
$icon-pacman: "\e916";
$icon-bug: "\e999";
$icon-fire: "\e9a9";

