$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-hedgehog: "\e900";
$icon-ferret: "\e901";
$icon-rabbit: "\e902";
$icon-stethoscope: "\e903";
$icon-hairdryer: "\e904";
$icon-pet-care: "\e905";
$icon-mortarboard: "\e906";
$icon-home: "\e907";
$icon-shop: "\e908";
$icon-mouse: "\e909";
$icon-stethoscope1: "\e90a";
$icon-snake: "\e90b";
$icon-tick: "\e90c";
$icon-nut: "\e90d";
$icon-nut-1: "\e90e";
$icon-cancel-1: "\e90f";
$icon-femenine-1: "\e910";
$icon-hairstyle: "\e911";
$icon-male: "\e912";
$icon-masculine: "\e913";
$icon-happy: "\e914";
$icon-paw-print: "\e91a";
$icon-frog: "\e915";
$icon-tropical-fish: "\e916";
$icon-parrot: "\e917";
$icon-dog: "\e918";
$icon-spider: "\e919";

