@import '../../../../styles/tools/variable.tools';


.fig-c {
    &__filter-title {
        font-family: Barlow-med;
        color: $color-blue-text;
    }
   
}

.p-filter-title-section {
    color: $color-ocean;
    font-size: 16px;
}
.p-input-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

