@import '../../../../styles/tools/variable.tools';

.c-popUp {
    &__content{
        height: 100vh;
        width: 100%;
        border-radius: 0;
        padding: 2.2rem 0.5rem;
        overflow-y: scroll;
        // position: fixed;

    }
}


.fig-c {

    // padding: 0 2rem;

    &__filter-title {
        font-family: Barlow-med;
        font-size: 20px;
        color: $color-blue-text;
        text-align: center;
    }   
}

.p-filter {
    width: 100%;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;

    &-especie {
        margin-bottom: 10px;
    }
    
    &__title {
        color: $color-ocean;
        font-size: 16px;
        padding: 0 8px 0 ;
        margin-bottom: 10px;
    }
    .MuiTextField-root {
        font-family: Barlow;

    }
    .MuiSelect-icon {
        color: $color-background-pink;
    }
    .MuiInputBase-input {
        color: $color-black;
        font-family: Barlow;
    }
    .MuiInputLabel-animated {
        color: $color-greyishBrown;
    }

    .MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
        font-family: Barlow;
    }

    &-btn-box {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
    }

}


.p-input{

    &-wrap {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &-center {
        justify-content: center;

    }
}

.c-input-img {

    &__input {
        width: 48px;
        height: 48px;
        display: none;
    }

    &__label {
        color: $color-ocean;
        font-size: 12px;
        text-align: center;
        width: 67px;
        height: 73px;
        border: 2px $color-cloudy-blue solid;
        border-radius: 8px;
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1em; 
        // display: block;
        // position: relative;
        margin: 10px;
        cursor: pointer;
    }
    .size {
        font-size: 1.8rem;
    }

    .small {
        font-size: 1.3rem;
    }

    .medium {
        font-size: 1.5rem;
    }

    .big {
        font-size: 2rem;
    }
    
    :disabled + &__label {
        color: lightgrey;
    }
    :checked + &__label {
        border: 2px $color-pink solid;
        color:  $color-pink;
        // & svg path {
        //     fill:  $color-pink;
        // }
    }

    // :checked + svg {
    //     fill: $color-pink;
        
    // }
    // rect, clipPath, path {
    //     fill:red;
    // }
}

