@import '../../../../styles/tools/variable.tools';


.fig-c {
    padding: 2.2rem 0.5rem;
    width: 100%;
    overflow-x: hidden;
    
    &__filter-title {
        font-family: Barlow-med;
        color: $color-blue-text;
    }
   
}

.p-filter {
    width: 100%;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;

    &-especie {
        margin-bottom: 10px;
        & p {
            padding: 0 14px;
        }
    }

    &__title {
        color: $color-ocean;
        font-size: 16px;
        padding: 0 8px;

    }

    &__select {
        padding: 5px 8px;
        width: 16.25rem;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px $color-cloud-blue solid;
        font-size: 12px;
        // background-color: transparent;
        appearance: none;
    
        &.p-filter__select:focus{
            outline: none;
        }
    }

    &-btn-box {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
    }
    

}


.p-input{

    &-wrap {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &-center {
        justify-content: center;

    }
}

.c-input-img {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &__input {
        width: 48px;
        height: 48px;
        display: none;
    }

    &__label {
        color: $color-ocean;
        font-size: 12px;
        text-align: center;
        width: 67px;
        height: 73px;
        border: 2px $color-cloudy-blue solid;
        border-radius: 8px;
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1em; 
        // display: block;
        // position: relative;
        margin: 10px;
        cursor: pointer;
    }
    .size {
        font-size: 1.5rem;
    }
    
    :checked + &__label {
        border: 2px $color-pink solid;
        color:  $color-pink;
        // & svg path {
        //     fill:  $color-pink;
        // }
    }

    :disabled + &__label {
        color: $color-pine-green;
    }
    // :checked + svg {
    //     fill: $color-pink;
        
    // }
    // rect, clipPath, path {
    //     fill:red;
    // }
}

