@import '../../styles/tools/variable.tools';
.p-profile {
    min-height: 100vh;
}
.c-profile-photo {
        width: 6rem;
        margin-bottom: 1.25rem;
            height: 6rem;
            object-fit: contain;
            border-radius: 50%;
            border: 0.2rem solid $color-cloudy-blue;
    }
