.p-profile {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    &__photo {
        width: 80px;
        margin-bottom: 20px;
    }
    &__details {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}