@import '../../../../styles/tools/variable.tools';

.c-galleryPets{
    margin-top: 3rem;
    margin-bottom: 5rem;
    &__card{
        margin: 1rem;
        border: 2px solid $color-cloud-blue;
        border-radius: 0.33rem;
        overflow: hidden;
        
    }
    &__img{
        width: 21.2rem; 
        
       
    }

    &__pet{
        width: 100%;
        height: 14rem;
        border-bottom: 2px solid $color-cloud-blue;
        object-fit:initial;
    }

    &__fav{
        position: relative;
        top: -13rem;
        left: 18.5rem;
    }

    &__text{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.3rem;
        margin-top: -1.5rem;
    }

    &__name{
        color: $color-dark-blue;
        font-size: 23px;
        font-weight: bolder;
        margin-left: 0.7rem;
        margin-top: -0.14rem;
    }

    &__location{
        text-align: right;
        font-size: 12px;
        margin-right: 0.7rem;
    }

    &__link{
        text-decoration: none;
        color: black;
    }
}