.s-h1 {
  font-family: Barlow-SemiBold, sans-serif;
  font-size: 2rem;
  letter-spacing: 0;
}

.s-h2-madrid {
  font-family: Barlow-Bold, sans-serif;
  font-size: 1.5625rem;
  letter-spacing: 0;
}

.s-text-style-5 {
  font-family: Barlow-med, sans-serif;
  font-size: 1.5625rem;
  letter-spacing: 0;
}

.s-h3 {
  font-family: Barlow-med, sans-serif;
  font-size: 1.5625rem;
  letter-spacing: 0;
}

.s-text-style {
  font-family: Barlow-med, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0;
}

.s-text-style-6 {
  font-family: Barlow-med, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0;
}

.s-body-2 {
  font-family: Barlow-med, sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
}

.s-text-style-3 {
  font-family: Barlow-med, sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
}

.s-body {
  font-family: Barlow-Regular, sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
}

.s-text-style-4 {
  font-family: Barlow-Regular, sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
}

.s-text-style-7 {
  font-family: Barlow-Regular, sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
}

.s-detail-1 {
  font-family: Barlow-Regular, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0;
}

.s-h3 {
  font-family: Barlow-Regular, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0;
}

.s-h3 {
  font-family: Barlow-Regular, sans-serif;
  font-size: 0.625rem;
  letter-spacing: 0;
}