$color-light-blue: #44A1A0;
$color-blue-text: #01748e;
$color-dark-blue: #164C56;
$color-cloud-blue: #bdd2d6;
$color-black: #2d2d2d;
$color-pink: #E08888;
$color-orange: #f5a623;
$color-red: #f44332;
$color-green: #248d1b;

@font-face{
    font-family: Barlow;
    src: url(../../assets/fonts/Barlow-Regular.ttf);
}

@font-face{
    font-family: Barlow-med;
    src: url(../../assets/fonts/Barlow-Medium.ttf);
}