@import '../../../../styles/tools/variable.tools';
.p-detailhealth{
    margin: 1rem;
    
    &__list{
       
        margin-left: 1rem;
        font-weight: 600;
        font-size: 1rem;
    }


    &__title{
        font-weight: 800;
        color: $color-blue-text;
        font-size: 1rem;
        margin-top:0.5rem;
        margin-left: 0.5rem;
    }

    &__about{
        border: 1px solid rgba(1, 116, 142, .15);
        border-radius: 5px;
        margin-top: 2rem;
        margin-bottom: 2.1rem;
        width: 22rem;
        height: 6rem;
        
    }

    &__abou{
        margin-top: 1rem;
    }

    
}


.ul-item{
    list-style: none;
    margin-top: -2rem;
    margin-bottom: 2rem;
       
}