@import '../../../../styles/tools/variable.tools';
.p-detailDate{

    margin: 1rem;
    
    &__list{
        margin-left: 1rem;
        font-weight: 600;
        font-size: 1rem;
    }

    &__person{
       background-color: $color-blue-text; 
       color: white;
       width: 37%;
       border-radius: 14px;
       padding: 0.2rem 0.3rem 0.3rem 0.8rem;
       font-weight: 800;
       margin-top: 1rem;
    }

    &__title{
        font-weight: 800;
        color: $color-blue-text;
        font-size: 1rem;
    }

    &__history{
        border: 1px solid rgba(1, 116, 142, .15);
        border-radius: 5px;
        margin-top: 2rem;
    }

    &__histo{
        margin-top: 1rem;
    }

    &__button{
        margin-top: 1.3rem;
        margin-left: 1.4rem;
    }

   
}


.ul-item{
    list-style: none;
    margin-top: -2rem;
    margin-bottom: 2rem;
    &__li{
        
    }
    &__li::before{
        content: url('./../../../../assets/img/pawprint.png');
    }
    
}