@import '../../../../../styles/tools/variable.tools';

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    &__img {
        width: 4.5rem;
    }
    &__copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        &__img {
            width: 1.8rem;
            margin-right: 0.5rem;
        }
        &__title {
            color: $color-blue-text;
        }
    }
}