@import '../../../../../styles/tools/variable.tools';

.copy {
    color: $color-black;
    width: 90%;
    margin-bottom: 1.6rem;
    &__title {
        color: $color-ocean;
    }
}

.btn {
    border: 0.1rem solid $color-cloudy-blue;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 90%;
    &__span{
        color: $color-ocean;
    }
    &__copy {
        color: $color-black;
        padding-right: 6rem;
    }
    &__img {
        transform: rotate(90deg);
    }
}
