@import '../../../../styles/tools/variable.tools';

.c-popupAdoption{
    
    &__parra{
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        margin: 0 2rem 0 2rem;
    }

    &__video{
        
        width: 17.85rem;
        height: 10.13rem;
        margin-left: 1.5rem;
        margin-top: 2rem;
        margin-bottom: -1rem;
    }

    &__quest{
        color: $color-blue-text;
        font-weight: 600;
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
    }
    &__button{
        border-top: 1px solid $color-cloudy-blue;
        text-align: center;
    }

    &__cancel{
        border:none;
        color: $color-red;
        font-size: 1rem;
        padding:1.2rem;
        margin-left: -1rem;
        padding-right: 3rem;
        background: transparent;
        border-right: 1px solid $color-cloudy-blue;
    }

    &__continue{
        border:none;
        color: $color-blue-text;
        font-size: 1rem;
        padding: 1.2rem;
        background: transparent;
        margin-right: -1rem;
        padding-left: 3rem;
        
        &:disabled{
            color: grey;
      
        }
    }
}

.btn-play{
    border-radius: 50%;
    padding: 0.3rem 0.6rem 0.4rem 0.7rem;
    background-color: $color-blue-text;
    color: white;
    font-size:1.5rem;
    border: none;
    outline: none;
    position: relative;
    top: -5.6rem;
    left: 9.4rem;
    cursor: pointer;
}