@import '/src/styles/imports/settings.imports';
@import '/src/styles/imports/tools.imports';
@import '/src/styles/imports//elements.imports';

body {
  font-family: 'Barlow';
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

