@import '/src/styles/imports/settings.imports';
@import '/src/styles/imports/tools.imports';

body {
  font-family: 'Barlow';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

