@import '../../../styles/tools/variable.tools';

.c-adoption-card {
    border: 1px solid $color-light-blue;
    border-radius: 0.25rem;
    margin: 0.8rem;

    &__link {
        text-decoration: none;
        color: $color-blue-text;
        display: flex;
        flex-direction: column;
    }
    &__title {
        display: flex;
        align-items: flex-end;
        padding: 0.6rem;
        &__name {
            flex: 2;
        }
        &__status {
            flex: 1;
            font-size: 0.8rem;
        }
    }
    &__details {
        display: flex;
        &__img-div {
            flex: 2;
            &__img {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                margin: 0 auto;
            }

        }
        &__copy {
            flex: 1;
            color: $color-black;
            font-family: 'Barlow-med';
            &--thin{
                font-family: 'Barlow';
            }
        }
    }
}